{% extends 'base.html' %}

{% block content %}

<h2 class="p-4 mx-5">Book list</h2>

<div class="container">
    <form method="post" action="/schetchik">
        <p>Choose your book genre</p>
        <select name="select_form">
            <option name="дневная">Action</option>
            <option name="вечерняя">Fiction</option>
            <option name="заочная">Comodie</option>
        </select>
        <button type="submit">Send</button>
    </form>
    {% if student_count %}
        <p>Количество студентов "{{ form_of_educ }}" формы: {{ student_count }}</p>
    {% endif %}
</div>

{% endblock %}