{% extends 'base.html' %}

{% block content %}

<div class="row p-4 mx-5">
    <h2 class="col-10">Student who loaned books</h2>
    <a class="btn btn-primary col-2" href="{{ url_for('createstudent') }}">Add request</a>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    №
                </th>
                <th>
                    Last name
                </th>
                <th>
                    First name
                </th>
                <th>
                    Middle name
                </th>
                <th>
                    Year
                </th>
                <th>
                    Infor
                </th>
                <th>
                    Code
                </th>
                <th>
                    More!
                </th>
            </tr>        
        </thead>
        <tbody>
            {% for student in students %}
            <tr>    
                <td>
                    {{ student.id }}
                </td>
                <td>
                    {{ student.lastname }}
                </td>
                <td>
                    {{ student.name }}
                </td>
                <td>
                    {{ student.surname }}
                </td>
                <td>
                    {{ student.admission_year }}
                </td>   
                <td>
                    {{ student.education_form }}
                </td>    
                <td>
                    {{ student.group }}
                </td> 
                <td>
                    <a class="btn btn-primary" href="{{ url_for('editstudent', id=student.id) }}">Редактировать</a>
                </td>                 
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}